{% extends "base.html" %}
<article>{% block content %}
    <h1>About</h1>
    <p>My name is Christina DeRosa and I made this webpage. I am glad to have been able to successfully put together all the concepts from this semester to create this page! Hope it is "A" worthy :D
        Have a great summer!</p>
    <h2>Quick Overview of Site Functions</h2>
    <ul>
    <li>Once registered, you can upload a CSV file to the site by navigating to Transactions Mgmt under "My Account".</li>
    </ul>
{% endblock %}
</article>
