{% extends "base.html" %}
<article>{% block content %}
    <h1>About</h1>
    <p>My name is Christina DeRosa and I made this webpage. I am glad to have been able to successfully put together all the concepts from this semester to create this page! Hope it is "A" worthy :D
        Have a great summer!</p>
    <h3>Quick Overview of the Site</h3>
    <ul>
    <li>Log in or register first through the homepage.</li>
    <li>Once registered, you can upload a CSV file to the site by navigating to Transactions Mgmt under "My Account".</li>
    <li>Checkout my git repo for the site <a href="https://github.com/cmd58/project4">here</a>!</li>
    </ul>
{% endblock %}
</article>
