{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-8 lh-lg fs-5">

            <h1>Welcome! My name is Christina and this is my banking app for IS218 Project 4.</h1>
            <h2>Please feel free to register, log in, and then browse the site. Test out file upload under My Account and then "Transactions Management".</h2>
        </article>
        {% if current_user.is_authenticated == false %}
            <aside class="col-4">
                <h2>Login</h2>
                <form action="{{ url_for('auth.login') }}" method=post>
                    <dl>
                        {{ form.csrf_token }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value=Login>
                </form>
            </aside>
        {% endif %}

    </div>
{% endblock %}
</article>
